<div class="news">
  <div class="news-description">
    このページではアニメに関する新着情報の参考サイトをまとめてあります。
    <br>「最近のアニメの情報が知りたい！」という方はぜひご活用ください。
  </div>
  <ul>
    <li>
        <hr class="border-width-bold-half border-color" />
          <div class="news-content">
            <div class="news-content__title">
            「アニメ新着情報まとめサイト（アニメハック）」
            </div>
            <div class="news-content__image">
              <%= image_tag("animehack.png", alt: "アニメ新着情報まとめサイト", width: "700", height: "350") %>
            </div>
            <div class="news-content__text">
              アニメや声優の最新情報から今期放送予定のアニメ情報をまとめたサイトです。
              <br>新着情報サイトってどれを見たらいいのか分からない！という方は
              <br>このアニメハックをみておけば間違いありません。
            </div>
            <div class="news-content__link">
              <%= link_to "アニメハックのページはこちらをクリックしてください","https://sakuhindb.com/anime/anime.html",class:"news-link" %>
            </div>
          </div>
      </li>
    <li>
      <hr class="border-width-bold-half border-color" />
        <div class="news-content">
          <div class="news-content__title">
          「アニメのテレビ放送情報（新作テレビアニメ放送スケジュール）」
          </div>
          <div class="news-content__image">
            <%= image_tag("tv.image.png", alt: "アニメのテレビ放送一覧", width: "700", height: "350") %>
          </div>
          <div class="news-content__text">
            このサイトではアニメのテレビ放送時間を閲覧することができます。
            <br>現在放送中のアニメからこれから放送予定のアニメまで掲載してあるので
            <br>参考になります。
          </div>
          <div class="news-content__link">
            <%= link_to "新作テレビアニメ放送スケジュールのページはこちらをクリックしてください","http://www.saiani.net/image/animeinfo-top.html",class:"news-link" %>
          </div>
        </div>
    </li>
      <li>
        <hr class="border-width-bold-half border-color" />
          <div class="news-content">
            <div class="news-content__title">
            「新着アニメの評価情報（作品データベース）」
            </div>
            <div class="news-content__image">
              <%= image_tag("anime.evaluation.png", alt: "新着アニメの評価情報", width: "700", height: "350") %>
            </div>
            <div class="news-content__text">
              新着アニメの評価をまとめているサイトです。
              <br>総合点や平均点など細かに掲載してあり参考になります。
              <br>アニメごとにレビューも書かれているので面白いアニメしかみたくない方におすすめのサイトです。
            </div>
            <div class="news-content__link">
              <%= link_to "作品データベースのページはこちらをクリックしてください","https://sakuhindb.com/anime/anime.html", class:"news-link"%>
            </div>
          </div>
      </li>
  </ul>
</div>